.a{
    background-color: cyan;
}

.b{
    background-color: rgb(160, 212, 178);
}

.c{
    background-color: cyan;
}

.d{
    background-color: rgb(160, 212, 178);
}

.e{
    background-color: cyan;
}

.f{
    background-color: rgb(212, 153, 203);
    color:rgb(0, 0, 0);
}