.a{
    background-color: cyan;
    ;
}


.b{
    background-color:rgb(102, 198, 124);
    ;
}


.c{
    background-color: cyan;
    ;
}

.d{
    background-color: rgb(102, 198, 124);
    ;
}


.e{
    background-color: cyan;
    ;
}


.f{
    background-color: rgb(102, 198, 124);
    ;
}